<div content-for="title">
    <span>{{title||""}}</span>
</div>

<div class="scrollable">
    <div class="scrollable-content" ng-controller="detailCtrl">
        <div class="section">
            <img src="{{file||''}}">
        </div>
        <div class="section">
            <div class="pull-left">
                <h3>{{title||""}}</h3>
            </div>
            <div class="pull-right">
                <h3>{{price}}</h3>
            </div>
        </div>
        <div class="section">
            <div class="pull-right">
                <a class="remove-food" href="javascript:;" ng-click="removeFood()">
                    <i class="fa fa-minus-circle"></i>
                </a>
                <span class="foodop-num" style="">{{foodNum}}</span>
                <a class="add-food" style="" href="javascript:;" ng-click="addFood()">
                    <i class="fa fa-plus-circle"></i>
                </a>
            </div>
        </div>
        <div class="section">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">菜品简介</h3>
                </div>
                <div class="panel-body">
                    dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                </div>
            </div>
        </div>
        <div class="section">
            <a href="tel:15164096345" class="btn btn-primary r-order-btn">加入购物车</a>
            <a href="" class="btn btn-primary r-order-btn">直接下单</a>
        </div>

    </div>
</div>